<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h2>hello this is form page</h2>
        <h3>fill the form</h3>
        <form action="/another" method="POST">
            <label for="user">name
                <input type="text" name="=user"></label><br>
            <label for="number">number
                <input type="number" name="number"></label><br>
            <input type="submit">
        </form>
    </center>
</body>

</html>